:root {
  font-family: "Comfortaa", cursive;
  line-height: 1.5;
  font-weight: 400;
  --radius: 10px;
  --panel-bg-color: #fff;
  --bg-color: #ddd;
  --label-color: #474747;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

label {
  font-weight: 600;
  color: var(--label-color);
}
b {
  font-weight: 700;
}
