.difficulty-slider {
  label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
  }
  input[type="range"] {
    width: 90px;
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }
}
