.start-panel {
  background-color: var(--panel-bg-color);
  position: relative;
  overflow: hidden;
  border-radius: var(--radius);
  &__buttons {
    display: flex;
  }

  &__options {
    background-color: var(--panel-bg-color);
    height: 150px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateX(-100%);
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    &--isOpen {
      transform: translateX(0%);
    }
    &-wrapper {
      padding: 1rem;
      padding-top: 1.5rem;
      height: 100%;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
    }

    .close-options {
      height: 40px;
      display: flex;
      button {
        padding: 0.5rem;
        svg {
          margin-bottom: 0px;
        }
      }
    }
  }
}
